@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: gray;
}

/* --------------- HEADER ---------------------- */

header{
    /* background-color: black; */
    background-color: black;
    color: white;
    height: 70px;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    border-bottom: 1px solid white; */

    display: flex;
    justify-content: space-between;
}

#btn_menu{
    color: white;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.contenedor_logo{
    background-color:black;
    /* width: 100%; */

    display: flex;
    align-items: center;
}

.contenedor_logo svg{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.contenedor_btn{
    background-color: black;
    /* width: 100%; */

    display: flex;
    align-items: center;
}

/* --------------- FINAL HEADER --------------------- */

/* ---------------- MENU ----------------------- */

.menu{
    background-color: gold;
    position: fixed;
    top: 70px;
    left: -250px;
    width: 250px;
    height: 100%;
    padding-top: 30px;
    z-index: 3000;

    transition: all .3s;
}

.menu_link{
    display: block;
    padding: 20px;
    color: black;
    font-weight: 600;
    font-size: 17px;

    display: flex;
    align-items: center;
}

.submenu{
    /* background-color: rgb(141, 141, 141); */
    background-color: gold;
    height: 0;

    transition: all .3s;
    overflow: hidden;
}

.submenu .menu_link{
    padding-left: 80px;
}

.menu_link svg{
    margin-right: 20px;
}

#sageata{
    margin-left: auto;
    height: 20px;
    width: 20px;

    transition: all .3s;
}

svg{
    cursor: pointer;
}


/* ------- media queries ------ */


@media screen and (min-width:800px){
    header{
        display: none;
    }

    /* #locatie{
        color: white;
    } */

    svg{
        display: none;
    }

    .menu{
        background-color: black;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 80px;
        padding-top: 0;
        border-bottom: 1px solid white;

        display: flex;
        justify-content: center;
    
        transition: all .3s;
    }

    .contenedor_submenu{
        position: relative;
    }

    .submenu{
        position: absolute;
        width: 200px;
        z-index: 200;
        overflow: hidden;
        z-index: 100;
        background-color: gold;
        color: black;

        opacity: 0;
        visibility: hidden;
    
    }

    .submenu .menu_link{
        color: black;
    }


    .menu_link{
        font-size: 18px;
        height: 100%;
        color: white;
    }

    .contenedor_submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }

    .menu_link:hover{
        background-color: gainsboro;
        color: black;
    }

    .submenu .menu_link:hover{
        background-color: gainsboro;
    }

}

/* ----------------- */

/* -------------- FINAL MENU ------------------ */

/* ----------------- FATADA ---------------------- */

.contenedor_fatada{
    /* background-color: red; */
    margin-top: 80px;
    padding: 80px 20px;
}

.contenedor_cover{
    /* background-color: beige; */
    max-width: 1200px;
    margin: auto;

    display: flex;
}

.contenedor_info{
    /* background-color: green; */
    width: 100%;
    padding: 20px;
}

.contenedor_info h1:nth-child(1){
    font-size: 60px;
    color: white;
}

.contenedor_info h1:nth-child(2){
    font-size: 45px;
    margin-top: -10px;
}

.contenedor_info p{
    margin-top: 60px;
    font-size: 18px;
}

.contenedor_info input{
    margin-top: 80px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    width: 180px;
    height: 50px;
    font-size: 18px;
    background-color: gold;
    cursor: pointer;
}

.contenedor_poza{
    /* background-color: orange; */
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_poza img{
    width: 400px;
    height: 400px;

    transition: all .3s;
}

/* --------- media queries ------- */

@media screen and (max-width:1000px) {
    .contenedor_poza img{
        width: 350px;
        height: 400px;
    }
}

@media screen and (max-width:830px){
    .contenedor_cover{
        flex-direction: column;
        gap: 50px;
    }

    .contenedor_info{
        text-align: center;
    }

    .contenedor_fatada{
        padding: 70px 20px;
        margin-top: 20px;
    }

    .contenedor_info p{
        font-size: 20px;
    }
}


/* ------------------- FINAL FATADA --------------------- */

/* ------------------ CONTINUT ----------------------- */

.contenedor-continut{
    background-color: black;
    margin-top: 65px;
    padding: 30px 20px;
}

.contenedor-adaptare{
    /* background-color: bisque; */
    max-width: 1200px;
    margin: auto;
}

.contenedor-titlu{
    /* background-color: aquamarine; */
    padding: 20px;
    font-size: 30px;
    color: white;
}

.contenedor-cards{
    /* background-color: red; */
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
}

.card{
    /* background-color: azure; */
    width: 300px;
    transition: all .3s;

}

.card .cover{
    width: 100%;
    text-align: center;

    position: relative;
    overflow: hidden;

}

.card .cover img{
    width: 250px;
    position: relative;
    top: 40px;
    z-index: 1;

    overflow: hidden;
    transition: all .4s;
}

.card .background-cover{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
}

.card:nth-of-type(1) .background-cover{
    background-image: url(poze/bg1.jpg);
}

.card:nth-of-type(2) .background-cover{
    background-image: url(poze/bg2.jpg);
}

.card:nth-of-type(3) .background-cover{
    background-image: url(poze/bg3.jpg);
}



.card-info{
    padding: 20px;
    background-color: azure;
}

.card-info p{
    margin: 30px 0px;
}

.card-info input{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.04);
}

.card:hover.card .cover img{
    top: 25px;
}

/* ----------------- FINAL CONTINUT ---------------- */

/* --------------- CONTINUT 2 ----------------------- */

.contenedor-continut2{
    /* background-color: red; */
    padding: 130px 20px;
    /* margin: 60px auto; */
}

.contenedor-adaptare2{
    /* background-color: beige; */
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.contenedor-adaptare2-titlu{
    padding: 20px;
    font-size: 30px;
    color: white;
    margin-bottom: 70px;
}

.contenedor-adaptare2-continut{
    display: flex;
}

.contenedor-nume{
    /* background-color: pink; */
    width: 30%;
    padding: 30px 30px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

/* .contenedor-nume ul{
    background-color: red;
} */

.contenedor-nume ul li{
    display: flex;
    padding: 20px;
    cursor: pointer;
    /* background-color: rgb(127, 148, 167); */
}

.contenedor-nume ul li h3{
    /* background-color: beige; */
    width: 100%;
    color: white;
}

.contenedor-nume svg{
    width: 25px;
    height: 25px;
    color: black;
    display: flex;
    margin-right: 25px;
}

.contenedor-schimbare{
    background-color: gainsboro;
    width: 70%;

    display: flex;
}

.contenedor-avatar{
    /* background-color: gold; */
    width: 30%;

    position: relative;
}

.casuta-avatar{
    position: absolute;
}

#avatar1{
    opacity: 1;
}

#avatar2{
    opacity: 0;
}

#avatar3{
    opacity: 0;
}

.contenedor-schimbare-avatar{
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-schimbare-avatar img{
    width: 200px;
    height: 200px;
}

.contenedor-info{
    /* background-color: aquamarine; */
    width: 70%;
    position: relative;
}

.casuta-barber{
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
}

#barber1{
    opacity: 1;
}

#barber2{
    opacity: 0;
}

#barber3{
    opacity: 0;
}

/* ------ media queries ------ */

@media screen and (max-width:970px) {
    .contenedor-adaptare2-continut{
        flex-direction: column;
    }

    .contenedor-nume{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-nume ul{
        display: flex;
    }

    .contenedor-schimbare{
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width:600px){
    .contenedor-nume ul li h3{
        font-size: 16px;
    }

    .contenedor-schimbare-avatar img{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:550px) {
    .contenedor-nume ul li h3{
        font-size: 20px;
    }

    .contenedor-nume ul{
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor-adaptare2-titlu{
        font-size: 27px;
    }


}

/* ----------------- SOCIAL MEDIA / DETALII -------------  */

.contenedor_continut3{
    background-color: black;
    color: white;
    padding: 50px 0;

}

.contenedor_adaptare3{
    /* background-color: aqua; */
    max-width: 1200px;
    margin:auto;
    padding: 30px 10px;

    display: flex;
    justify-content: space-evenly;
}

.contenedor_adaptare3 svg{
    color: rgb(216, 216, 216);
    display: flex;
}

.contenedor_adaptare3 h2{
    color: white;
}

/* .casuta_social_media{
    background-color: red;
} */

.casuta_social_media ul li{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    color: rgb(216, 216, 216);

    transition: all .3s;
   
}

.casuta_social_media ul li:hover{
    color: white;
}

.casuta_social_media_titlu{
    /* background-color: red; */
    padding: 20px;
}

.icon_social_media{
    /* background-color: blue; */
    padding: 20px;
}

.icon_social_media svg{
    margin-right: 10px;
}


/* .casuta_detalii{
    background-color: beige;
} */

.casuta_detalii_titlu{
    /* background-color: green; */
    padding: 20px;

}

.casuta_detalii_continut{
    /* background-color: beige; */
    padding: 20px;
}

.casuta_detalii_continut ul li{
    padding: 10px 0px;
    color: rgb(216, 216, 216);
    cursor: pointer;

    transition: all .3s;
}

.casuta_detalii_continut ul li:hover{
    color: white;
}

/* ---- media queries casute_media --- */

@media screen and (max-width:500px) {
    .contenedor_adaptare3 h2{
        font-size: 19px;
    }
}

@media screen and (max-width:420px) {
    .contenedor_adaptare3 li{
        font-size: 14px;
    }
}

/* ----------------------------- */

/* ------------- FINAL SOCIAL MEDIA / DETALII-------------------

/* ----------------- FOOTER ----------------- */

footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: rgb(216, 216, 216);
}


@media screen and (max-width:430px) {
    footer{
        font-size: 14px;
    }
}


/* ------------------ FINAL FOOTER ----------------- */

/* ------------ clase pentru JS ----------------- */

.menu_move{
    left: 0;
}

.sageata_move{
    transform: rotate(90deg);
}

/* ------------------------------------ */

